.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
    li p{
    display: table;
    float: right;
    margin-left: 2%;
    position: relative;
    margin-top:3%;
}
    img{
        width: 100%;
        height: 100%;

    }

    .sec{

        position: absolute;

        margin-left: 20%;
        margin-top: -8.8%
    }

    .watch{

        position: absolute;

        margin-left: 50%;
        margin-top: -8.9%
    }

    .button {

  display: inline-block;
  border-radius: 4px;
  background-color: dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 3px 28px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 60%;
        margin-top: 2px;

}

}
* {
  box-sizing: border-box;
}




#myInput {

  background-image: url('');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.more {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

.more:hover:not(.header) {
  background-color: #eee;
}




#loadMore {
 color:green;
 cursor:pointer;
 padding: 5px 11px;
 cursor: pointer;
 background: #e8e8e8;
 width: 75px;
 margin: 3px;
 position: relative;
 border-radius: 7px;
}
#loadMore:hover
#showLessa:hover
#showLess:hover
 {
 color:black;
}
#showLess {
 color:red;
 cursor:pointer;
 padding: 5px 11px;
 cursor: pointer;
 background: #e8e8e8;
 position: relative;
 border-radius: 7px;
 width: 75px;
 margin: 3px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}
