 img{
        margin-bottom: 5%;
    }

    .button{
        margin-left: -87%;

    }

    #description{
       position: absolute;
        margin-left: 30%;
        margin-top: -20%;
    }


    @media screen and (max-width: 500px) {

        .button{
        margin-left: -17%;
            margin-top: 10%;
    }
        #description{
            margin-top: -9%;
        }
        #image{
            width: 100%;
            height: 50%;
        }
        #description{
            visibility: hidden;
        }
        #moreword{

            margin-top: -2%;
            margin-right: 50%;
        }

}



