

body {

             font-family: "Times New Roman";
         }

         .row{
             margin-left: 15%;
             margin-top: 10%;



         }
         .slideshow-container{
             margin-top: 5%;
             margin-left: 20%;
         }



         h1{
             color: crimson;
         }
        row:after {

  content: "";
  display: table;
  clear: both;

}



.column {
  float: left;
  width: 20%;
    padding: 2px;




}


        nav{


            padding: 0 0;
            min-width: 500px;
            text-align: center;

        }

        nav ul{
            background: linear-gradient(90deg,rgba(255,255,255,0.8)0%,rgba(255,255,255,0.9)25%,rgba(255,255,255,0.9)75%,rgba(255,255,255,0.9)100%);
            box-shadow: 0 0 25px rgba(0,0,0,0.1),
            inset 0 0 1px rgba(255,255,255,0.6);
        }

        nav ul li{
            display: inline-block;
        }


        nav ul li a{

            padding: 10px;
            color: darkblue;
            font-size: 18px;
            font-family: "Times New Roman";
            text-decoration: none;
            display: block;

        }



      .demo:hover{
            transform: scale(1.2, 1.3);
        }

        .active, .demo:hover{
            opacity: 1;
        }



        .footer{
            position: absolute;




    left:0;
    right: 0;
    width: 100%;

    background-color: black;
    color: black;
    text-align: center;

}

.footer ul{
    background: linear-gradient(90deg,rgba(0,0,0 ,0.8 )0%,rgba(0,0,0 ,0.9 )25%,rgba(0,0,0 ,0.9 )75%,rgba(0,0,0 ,1.0 )100%);
            box-shadow: 0 0 25px rgba(0,0,0,0.7),
            inset 0 0 1px rgba(0,0,0 ,0.8 );

}

.footer ul li{
    display: inline-block;
}

.footer ul li a{
    padding: 10px;
            color: darkblue;
            font-size: 18px;
            font-family: "Times New Roman";
            text-decoration: none;
            display: block;
}



        nav ul li select {

   width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;


    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

        nav ul li select {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

       .footer .first li{
            margin-right: 70%;



            color: white;
        }

       .footer #first {
           margin-left: 10%;
           position: absolute;
       }

     input[type=text],   #select, #select2, #select3, #select4,#browsers{
               width: 160px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
        }
input[type=password],   #select, #select2, #select3, #select4,#browsers{
               width: 160px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
        }

        option{
            color: #00aff0;
            box-sizing: content-box;

        }

#search:focus{
    width: 120%;

}



/* When the input field gets focus, change its width to 100% */
#select:focus {

    width: 120%;


}
 nav ul li::after{
            content: "";
           clear: both;
           display: table;
        }

