<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% load staticfiles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/galastyle2.css" %}">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% load staticfiles %}
<script src="{% static 'js/myj.js' %}"></script>

     {% load staticfiles %}
<script src="{% static 'js/google.js' %}"></script>

    {% load staticfiles %}
<script src="{% static 'js/galascript.js' %}"></script>



{% load staticfiles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/galstyle.css" %}">

      {% load staticfiles %}
<script src="{% static 'js/chart.js' %}"></script>



    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);



      function drawChart() {
          var name1 = parseInt($("#name1").text())
           var name2 = parseInt($("#name2").text())
          var name3 = parseInt($("#name3").text())


        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Nana Addo Dankwah Akufo-Addo',     name1],
          ['John Mahama',      name2],

        ]);

        var options = {
          title: 'Presidential results from the total votes gathered'
        };


         var data2 = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Nana Addo Dankwah Akufo-Addo',     name1],
          ['John Mahama',      name3],

        ]);

        var options2 = {
          title: 'Parliamentary results from the total votes gathered'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
         var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
        chart2.draw(data2, options2);
      }
    </script>

      <script>
          $(document).ready(function(){


               var name1 = parseInt($("#name1").text())
               var name2 = parseInt($("#name2").text())
                var f="Total votes cast: "+parseInt(name1+name2)
                document.getElementById('votes').innerText=f;


          });





      </script>

<style>
    @media screen and (max-width: 500px) {
        #piechart{
            width: 1800px;
            height: 1800px;
        }
    }
</style>
  </head>
  <body>
  <h1 id="name1" hidden>{{ total }}</h1>
  <h1 id="name2" hidden>{{ total1 }}</h1>
  <h1 id="name3" hidden>{{ totalpal }}</h1>
  <h1 style="margin-left: 30%;color: blue">Welcome to your elections Hub</h1>
  <h3 style="margin-left: 33%" id="votes"></h3>

     <div id="piechart2" style="width: 900px; height: 500px;margin-left: -10%;margin-top: -1%"></div>

    <div id="piechart" style="width: 900px; height: 500px;margin-left: 45%;margin-top: -36%"></div>


  </body>
</html>

