<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presidential aspirant</title>

    <style>
        h1{
            margin-left: 20%;
        }
        #voteclick:hover{
            cursor: pointer;

        }
        #voteclick{
            margin-left: 20%;
        }

        #hi{
            margin-left: 20%;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% load staticfiles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/galastyle2.css" %}">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% load staticfiles %}
<script src="{% static 'js/myj.js' %}"></script>

     {% load staticfiles %}
<script src="{% static 'js/google.js' %}"></script>

    {% load staticfiles %}
<script src="{% static 'js/galascript.js' %}"></script>



{% load staticfiles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/galstyle.css" %}">


</head>
<script type="text/javascript">

             $(document).ready(function(){
  $("#voteclick").click(function(){
      var username = $('#name').text();

      var ret= confirm("Vote for "+ username+ "? Press okay to confirm else press cancel")

      if(ret == true) {


          $.ajax({

              type: 'POST',

              url: 'count',
              data: {
                  username: username,

                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

              },
              success: function () {

                  alert("You voted for " + username +" "+ "thanks!");

              }

          });
          return true;
      }else {
          alert("You cancelled the voting. Click ok to close this dialog")
          return false;
      }

  });

});




  </script>



<body>



<img src="{{ presidential.image.url }}" height="300" width="300"  style="border-radius: 50%;margin-left: 20%">


<h1>Aspirant name: <i id="name">{{ presidential.fullname }}</i></h1>
<h1>Constituency: <i>{{ presidential.constituency }}</i></h1>




<h1 style="margin-left: 20%">Click on the thumb below to vote.</h1>
{% csrf_token %}


     <i id="voteclick" onclick="getvoteconfirmation()" class="fa fa-thumbs-down" style="margin-top: 3%;font-size: 80px;color: blue"></i>



</body>
</html>