* {
  box-sizing: border-box;
}




#myInput {

  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.more {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;

  font-size: 18px;
  color: black;
  display: block
}

.more:hover:not(.header) {
  background-color: #eee;
}




#loadMore {
 color:green;
 cursor:pointer;
 padding: 5px 11px;
 cursor: pointer;
 background: #e8e8e8;
 width: 75px;
 margin: 3px;
 position: relative;
 border-radius: 7px;
}
#loadMore:hover
#showLessa:hover
#showLess:hover
 {
 color:black;
}
#showLess {
 color:red;
 cursor:pointer;
 padding: 5px 11px;
 cursor: pointer;
 background: #e8e8e8;
 position: relative;
 border-radius: 7px;
 width: 75px;
 margin: 3px;
}

    .sec{

        position: absolute;

        margin-left: 10%;
        margin-top: -2.6%
    }

    .watch{

        position: absolute;

        margin-left: 23%;
        margin-top: -2.6%
    }



    .button {

  display: inline-block;
  border-radius: 4px;
  background-color: dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 5px 27px;
  width: 138px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 60%;
        margin-top: 2px;

}




    .button:hover{
        color: #122b40;
    }
